<div class="col col-md-4" id= "<%= product.id%>">
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">product.description</p>
    <a href="<%= product_buy_path(product.id) %>" data-method= "POST" data-remote="true" class="btn btn-primary">Comprar</a>
  </div>
</div>
</div>